/* Disable scrolling */
body, html {
    overflow: hidden;
}

::selection {
    background-color: #304057;
    color: #ffffff;
}

/* Base Styles */
body {
    font-family: "PT Sans Caption", sans-serif;
    background: radial-gradient(circle, #1a2b4a, #162a43, #0c203a, #070e1c);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 5vw;
}

/* Container */
.container {
    display: flex;
    width: 95vw;
    padding: 3vw;
    box-shadow: 0 0 1vw 1vw rgba(18, 18, 18, 0.2);
    border-radius: 4vw;
    background-color: rgba(18, 18, 18, 0.2);
}

/* Left Section */
.left-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.1vw;
    position: relative;
}

/*separating line*/
.left-section::after {
    content: "";
    position: absolute;
    right: -0.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: #ffffff;
    min-height: 22.5vw;
}

.profile-picture {
    position: relative;
    z-index: 2;
}

.profile-picture img {
    width: 12vw;
    height: 12vw;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin-bottom: -0.5vw;
    position: relative;
    z-index: 3;
}

h1 {
    font-family: "Monospaced", monospace;
    font-size: 2.5vw;
    margin-bottom: -0.5vw;
    font-weight: bold;
    white-space: nowrap;
    z-index: 1;
}

p {
    font-size: 1.2vw;
    color: #d2d2d2;
    margin-bottom: 0vw;
    z-index: 1;
    width: fit-content;
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 1vw; /* Space between links */
    font-size: 2.3vw;
    margin-top: 1vw;
}

.social-links a {
    color: #ffffff;
    text-decoration: none;
    z-index: 1;
    transition: color 0.3s;

}

.social-links a:hover {
    color: #1e90ff;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* Contact Information */
.contact-info {
    display: flex;
    justify-content: center;
    gap: 0.9vw; /* Space between each contact item */
    font-size: 0.8vw;
    color: #7a7a7a;
    margin-top: 0.5vw;
    text-align: center;
    z-index: 1;
}

.contact-info span {
    display: inline-block; /
    margin: 0 0.5vw;
}

/* Right Section */
.right-section {
    flex: 3;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500vw;
}

.right-section a {
    color: #1e90ff;
    text-decoration: none;
}

.right-section a:hover {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.right-section p {
    font-size: 1.5vw;
    margin-bottom: 0;
    width: fit-content;

}

h2 {
    width: fit-content;
    font-size: 2.2vw;
    margin-bottom: 1vw;
    font-weight: bold;
    z-index: 1;
}

.right-section a.resume-link {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 2.5vw;
    transition: color 0.3s;
    z-index: 1;
    width: fit-content;
}

.right-section a.resume-link:hover {
    color: #ffffff;
}

/* for Smaller Screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 65vw;
        box-shadow: 0 0 2vw 1vw rgba(18, 18, 18, 0.2);
        border-radius: 4vw;
        background-color: rgba(18, 18, 18, 0.2);
    }

    .left-section {
        border-right: none;
        border-bottom: 1px solid #ffffff;
        padding-right: 0;
        padding-bottom: 3vw;
    }

    .left-section::after {
        display: none;
    }

    .profile-picture img {
        width: 25vw;
        height: 25vw;
    }

    h2, .social-links a {
        font-size: 4vw;
    }

    .right-section a.resume-link {
        font-size: 3vw;
    }

    h1 {
        font-size: 7vw;
    }

    p {
        font-size: 2.5vw;
    }
    .contact-info {
        margin-top: 2vw;
        font-size: 2.5vw;
    }

    .right-section p {
        font-size: 3vw;
    }
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* Keeps particles behind other content but also hoverable */
}
